.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /*color: rgba(200,200,200);*/
}

.container-1 {
    display: grid;
}

body {
    margin: 0px;
}

header {
    background: #3D405B;
    width: 1920px;
    height: 225px;
    display: grid;
    grid-template-columns: 310px auto 310px;
}

.header-left-1 {
    display: grid;
}

.header-frame-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width: 310px;
    height: 92px;
    padding-top: 42px;
}

.header-div-1 {
    font-size: 36px;
    line-height: 110%;
    width: 230px;
    height: 92px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFFFFF;
}

.header-left-line {
    width: 310px;
    height: 0px;
    border: 2px solid #FFFFFF;
}


.header-center-1 {
    display: grid;
    align-items: center;
    justify-items: center;
}

.header-frame-1 {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    width: 75.95%;
    align-items: center;
    justify-items: center;
    padding-right: 1.1%;
}

.header-menu-item {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    height: 39px;
    text-decoration: none !important;
    color: #FFFFFF;
}

#menu-item-1 {
    width: 128px;
}

#menu-item-2 {
    width: 139px;
}

#menu-item-3 {
    width: 212px;
}

#menu-item-4 {
    width: 187px;
}

#menu-item-5 {
    width: 149px;
}


.header-right-1 {
    display: grid;
}

.header-button-3 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding-top: 13.33%;
    padding-right: 4.95%;
    justify-content: start;
}

.header-number {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}


.block-1 {
    background: #FFFFFF;
    width: 1920px;
    height: 803px;
}

.block-1-center {
    display: grid;
    width: 1920px;
    height: 803px;
    grid-template-rows: 1fr auto auto 1fr 1fr;
}

.block-1-text-big {
    width: 632px;
    height: 128px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    padding-top: 71px;
    padding-left: 310px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #E07A5F;
}

.block-1-line-div {
    width: 942px;
    height: 0px;
    padding-top: 2.5px;
}

.block-1-line {
    width: 942px;
    height: 0px;
    border: 1px solid #E07A5F;
}

.block-1-ul {
    height: 92px;
    width: 577px;
    margin-top: 40px;
    padding-left: 330px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #E07A5F;
}

.block-1-button-group {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    column-gap: 20px;
    padding-left: 310px;
}

.block-1-button {
    width: 311px;
    height: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0%;
    border-radius: 5px;
    color: #E07A5F;
    background: #FFFFFF;
    border-color: #E07A5F;
    border: 1px solid #E07A5F;
}

.block-1-button:active {
    background: #FFFEFF;
    border: 1px solid #E07A5F;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.block-2 {
    background: #F4F1DE;
    width: 1920px;
    height: 581px;
}

.block-2-center {
    display: grid;
    width: 1608px;
    height: 581px;
    grid-template-rows: auto auto auto auto auto;
}

.block-2-projects {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    padding-left: 308px;
}

.block-2-line-div {
    width: 591px;
    height: 0px;
    padding-top: 4px;
}

.block-2-line {
    width: 591px;
    height: 0px;
    border: 1px solid #000000;
}

.block-2-bath {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    padding-left: 308px;
    padding-top: 30px;
}



.block-3 {
    background: #FFFFFF;
    width: 1920px;
    height: 803px;
}


.block-4 {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 112px 8px auto;
    background: #F4F1DE;
    width: 1920px;
    height: 717px;
}

.block-4-comp {
    width: 376px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    align-items: center;
    padding-left: 310px;
    padding-top: 48px;
}

.block-4-line-div {
    width: 685px;
    height: 0px;
    padding-top: 8px;
}

.block-4-line {
    width: 685px;
    height: 0px;
    border: 1px solid #000000;
}


.block-4-div {
    display: grid;
    width: 1310px;
    grid-template-columns: auto auto;
    padding-left: 322px;
}

.block-4-div-text {
    width: 667px;
    height: 440px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding-top: 32px;
}

.block-4-div-image {
    width: 593px;
    height: 440px;
    background-image: url("../Frame\ 13.jpg");
    margin-top: 32px;
}


footer {
    display: grid;
    width: 1920px;
    height: 249px;
    grid-template-rows: 92px 88px;
    background: #3D405B;
}

.footer-contact {
    width: 460px;
    height: 20px;
    padding-left: 420px;
    padding-top: 82px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 0%;
    color: #FFFFFF;
}

.footer-div {
    display: grid;
    grid-template-columns: 359px 248px 242px;
    padding-left: 420px;
    padding-top: 39px;
    width: 1012px;
    height: 49px;
    gap: 92px;
}

.footer-div-address {
    width: 359px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.footer-div-tel {
    width: 248px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.footer-div-email {
    width: 242px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}